/* Background image */

/* About */

.background-image{
    background-image: url('/Users/kellymclain/bootcamp/Homework/Personal-Portfolio-using-React/src/components/images/background.png'); 
    height: 100vh; 
}

.hero {
    width: 100%;
    height: 40vh;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    line-height: 1.1;
  }
  
  .hero-inner {
    font-size: 60px;
    text-align: left;
    margin: 130px 0 0 50px;
    width: 800px;
  }
  
  .name {
color: white  }
  
  .name:hover {
    color: rgb(89, 178, 148);
  }

  .about{
    margin: 0px 50px 0px 450px; 
    text-align: right; 
  }

  /* Contact */

  .form-row{
    padding-top: 100px; 
    width: 500px; 
  }

  .form-group{
    padding: 10px; 
  }


  /* Resume */

  .resume{
    padding-top: 50px; 
  }
