/* Background image */

.background-image{
    background-image: url('components/images/background.png'); 
    height: 100vh; 
}

/* Navbar */

.km{
    font-family:Arial, Helvetica, sans-serif; 
    padding-left: 15px; 
    font-size: 30px !important; 
}

a:hover{
    cursor: grab; 
}

.active{
    text-decoration: underline; 
}
/* About */

.hero {
    width: 100%;
    height: 40vh;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    line-height: 1.1;
  }
  
  .hero-inner {
    font-size: 60px;
    text-align: left;
    margin: 130px 0 0 50px;
    width: 800px;
  }
  
  .name {
color: white  }
  
  .name:hover {
    color: rgb(89, 178, 148);
  }

  .about{
    margin-top: 200px; 
    text-align: right; 
  }

  /* Contact */

  .form-row{
    padding-top: 100px; 
    width: 75%; 
  }

  .form-group{
    padding: 10px; 
  }


  /* Resume */

  .resume{
    width: 100vw; 
    height: 100vh; 
  }


  /* Media Queries for screens larger than mobile*/

  @media screen and (min-width: 768px) { 
    .about{
        margin: 0px 50px 0px 450px; 
    }
    .form-row{
        width: 30%; 
    }
    .resume{
        padding-top: 30px; 
        width: 100vw; 
    height: 100vh; 
    }
  };